// Widescreens
@include mediaXL {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
  .computerLogo {
    margin-top: 15vh;
  }
}

// Desktop & Laptops
@include mediaLg {

  main {
    &#home {
      text-align: center;
    }
  }
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
  .computerLogo {
    margin-top: 15vh;
  }
  .lg-heading {
    text-align: center;
  }
}

// Tablets & Small Laptops
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    &#home h1 {
      font-size: 5rem;
    }

    .lg-heading {
      text-align: center;
      line-height: 1;
      margin-bottom: 2rem;
      font-size: 3rem;
    }
  }

  .computerLogo {
    margin-top: 10vh;
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 65vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
    justify-content: flex-start;
  }

  .menu-branding {
    height: 35vh;
    transform: translate3d(100%, 0, 0);
    background: rgba(darken($tertiary-color, 5), 1);

    .portrait {
      background: url("../images/portrait_small.jpg");
      width: 150px;
      height: 150px;
    }
  }

  .about-info {
    grid-template-areas:
      "bioimage"
      "bio"
      "job1"
      "job2"
      "job3";

    grid-template-columns: 1fr;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

// Smartphones
@include mediaSm {
  main {
    padding: 2rem;

    &#home h1 {
      font-size: 5rem;
      &.lg-heading {
        margin-top: 0.5em;
      }
    }

    .lg-heading {
      margin-top: 2em;
      margin-bottom: 2rem;
      font-size: 2.5rem;
    }
  }
  .computerLogo {
    margin-top: 10vh;
  }
  .projects {
    grid-template-columns: 1fr;
  }

  .boxes div {
    font-size: 1.5rem;
    padding: 1.5rem 1.5rem;
  }
}
